@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-BlackItalic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-Bold.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-Black.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-ExtraBoldItalic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-ExtraBold.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-ExtraLight.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-BoldItalic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-LightItalic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-Italic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-ExtraLightItalic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-Light.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-SemiBold.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-MediumItalic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-Medium.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-Regular.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-SemiBoldItalic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-ThinItalic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-Thin.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/kanit/Kanit-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Fuente  */
@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-BlackItalic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-Black.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-Bold.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-ExtraLight.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-ExtraBoldItalic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-ExtraBold.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-BoldItalic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-ExtraLightItalic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-Medium.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-Italic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-Light.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-LightItalic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-SemiBold.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-ThinItalic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-MediumItalic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-Thin.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-SemiBoldItalic.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Archivo';
    src: url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-Regular.woff2') format('woff2'),
        url('http://miabogado.uy/assets/fonts/google/archivo/Archivo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}