header {
    background-color: var(--blue);
    padding: 1rem;
    font-size: 18px;
    color: var(--yellow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;

}

header a {
    /* border: solid 1px; */
    display: grid;
    grid-template-columns: 3rem max-content;
    align-content: center;
    place-items: center;
    grid-gap: 1rem;
    /* border: solid 1px; */
    max-width: max-content;
    margin: 0 auto;
}

header a .logo {
    /* border: solid 1px red; */
    width: 3rem;
    height: 3rem;

}

header a .brandname {
    font-weight: 700;
    font-size: 2rem;
    font-family: "Zen Antique Soft", serif;
    font-weight: 400;
    font-style: normal;
}


.iso {
    background-image: url(../img/logo.svg);
}

header .container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: max-content auto;
}

header .container nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: min-content;
    grid-gap: 0.5rem;
    margin: 0 0 auto auto ;
    align-content: center;
    height: min-content;
    place-items: center ;
}

header .container nav a{
    display: block;
    padding: 0.5rem 1.5rem ;
    font-weight: 500;
    align-self: center ;
    color: #fff;
    border-bottom: solid 3px #fff0 ;
    transition: 0.3s ease;
    transform-origin: 0 50%;
    padding-bottom: 5px;
}

header .container nav a:hover {
    color: var(--yellow);
    border-bottom:solid 3px ;
}

@media(width < 900px){
    header .container nav{
        display: none;
    }

    header .container{
        text-align: center;
        max-width: max-content;
        margin: 0 auto;
        /* border: solid 1px red; */
    }
}