:root {
    --blue: #1a3a5f;
    --yellow: #ffcd00;
    --gray: #eee;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: scroll 0.3s ease;
}

body::-webkit-scrollbar {
    display: none;
}


* {
    box-sizing: border-box;
    font-family: "Archivo";
}

a {
    color: inherit;
    text-decoration: none;
}
.marh{
    margin-top:6.5rem !important;
}

h1{
    padding-top: 6rem;
    margin-top: 4.35rem;
    color: var(--blue);
    padding: 1rem 2rem;
    text-align: center;
}

.categorys{
    background-color: var(--gray);
    padding: 0.5rem;
    margin: 1rem 2rem;
    border-radius: 8px 8px 0 0;
    /**/
    /* border: solid 1px red; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    position: sticky;
    top: 5rem;
    /* box-shadow: 1px 0 15px -10px #000; */
    backdrop-filter: blur(10px);
    width: clamp(200px, 100%, 1200px);
    margin: 1rem auto;
    max-width: calc(100% - 2rem);
    z-index: 8;
}

.categorys::-webkit-scrollbar{
    background-color: #0002;
    height: 14px;
    border-radius: 10px;
}

.categorys::-webkit-scrollbar-thumb {
    background-color: #0002;
    border-radius: 10px;
}

.categorys a{
    color: var(--blue);
    font-weight: 600;
    text-align: center;
    padding: .75rem 2rem;
    border-radius: 5px;
    min-width: max-content;
    border: solid 1px;
    flex: auto;
}

.categorys a.selected{
    background-color: var(--blue);
    color: var(--yellow);
}

.grid{
    width: calc(100% - 4rem);
    max-width: 1200px;
    grid-gap: 1rem;
    margin: 0 auto;
    padding-bottom: 5.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



.new{
    background: #fff;
    margin-top: 0.5rem;
    border-radius: 15px;
    padding: 1rem 2rem;
    box-shadow: 0 0 15px -10px #000;
    max-width: 1200px;
    margin: 0.5rem auto 0;
    display: grid;
    grid-template-columns: clamp(150px, calc(100vw / 6), 240px) auto;
    overflow: hidden;
}

.new .content-img{
    grid-row: 1/5;
    width: clamp(150px, calc(100vw / 6), 240px);
    height: calc(100% + 2rem);
    margin-top: -1rem;
    margin-left: -2rem;
    overflow: hidden;
}

.new img{
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: calc(100% + 2rem);
    object-fit: cover;
    clip-path: polygon(100% 0, 74% 51%, 100% 100%, 0 100%, 0 0);
    filter: contrast(0.9) brightness(0.9);
    margin-top: -20px;
    animation: newsParallax linear;
    animation-timeline: view();
    animation-range: entry 10% cover 85%;
}

@keyframes newsParallax{
    from{
        margin-top:auto;
        margin-bottom: -1rem;
    }
    to{
        margin-top:-1rem;
        margin-bottom: auto;
    }
}



.new .title{
    color: var(--blue);
    position: relative;
    font-size: 1.5rem;
}

.new .title .date{
    font-size: 0.9rem;
    color: #444;
    position: absolute;
    right: 0;
    top: -1.5rem;
    font-weight: 400;
}
.new p{
    line-height: 1.5;
    font-size: 1rem;
}
.new .more{
    background-color: var(--blue);
    color: var(--yellow);
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    display: block;
    border-radius: 5px;
    max-width: max-content;
    margin: 1rem 0 auto auto;
    font-weight: 600;
}

.content{
    max-width: calc(100% - 4rem);
    width: clamp(200px, 100%, 1200px);
    margin: 0 auto;
    margin-top: 6.5rem;
    background-color: #fff;
    padding: 1.75rem 5rem;
    border-radius: 10px;
    padding-bottom: 5rem;
}

.content .fcp{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.content .fcp h1{
    background-color: transparent;
    color: var(--blue);
    padding: 2rem;
    margin: 0;
    grid-column: 1/3;
}

.content .fcp .content-img img{
    width: auto;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.content p{
    line-height: 1.5;
    font-size: 1.1rem;
}
.table{
    grid-gap: 2px;
    border-radius: 10px;
    box-shadow:0 0 15px -10px #000 ;
    padding:0rem;
    overflow: hidden;
    margin-bottom: 2rem ;
    padding-bottom: 0.5rem;
    width: max-content;
    max-width: 100%;
    margin: 2rem;
}
.table.meses span:nth-child(even):not(:nth-child(2)) {
    text-align: right;
}

.table > span{
    padding: 0.25rem 1rem ;
}
.dg{
    display: grid;
}
.gtc-2{
    grid-template-columns: repeat(2, 1fr);
}
.gg-1{
    grid-gap: 1rem;
}


.table>span:nth-child(1),
.table > span:nth-child(2)
{
    font-weight:600;
    text-align: center;
    background-color: var(--blue);
    color: #fff;
    display: block;
    width: 100%;
    padding: 0.25rem;

}

.cuenta{
    display: grid;
    grid-template-columns: max-content max-content;
    /* box-shadow: 0 0 15px -7px #000; */
    border: solid 1px #aaa;
    border-radius: 10px;
    padding: 0.75rem 2rem;
    grid-gap: 5px;
    place-content: center;
    margin: 2rem;
    width: max-content;
}

.cuenta> :nth-child(1) {
    border-bottom: solid 1px #aaa;
    padding-bottom: 0.25rem;
    font-size: 1.2rem;
}
.cuenta> :nth-child(2) {
    font-size: 1.2rem;
    text-align: center;
}

.cuenta > :nth-child(3){
    grid-row: 1/3 ;
    grid-column: 2/3;
    font-size: 1.2rem;
    /* display: grid; */
    align-self: center ;
}

.calc-btn{
    display: block;
    margin-top:1rem;
    background-color: var(--yellow);
    max-width: max-content;
    padding: 0.75rem 2rem ;
    border-radius: 10px;
    color: var(--blue);
    font-weight: 500;
}

.cta-area{
    background-color: var(--blue);
    padding: 5rem 3rem 2rem;
    color: #fff;
    text-align: center;
    clip-path: polygon(50% 0, calc(50% + 2rem) 2rem, 100% 2rem, 100% 100%, 0 100%, 0 2rem, calc(50% - 2rem) 2rem);
}
.cta-area p:nth-child(1){
    font-size: 1.25rem;
}

.border-top-gray{
    border-top: solid 1px var(--gray);
    padding-top: 2rem;
    margin-top: 2rem;
}

.cta-area .cta{
    display: block;
    background-color: var(--yellow);
    max-width: max-content;
    margin: 2rem auto 0;
    border-radius: 5px;
    padding: 1rem 2rem;
    color: var(--blue);
    font-weight: 600;
}

.faq .container{
    width: clamp(280px, calc(100% - 2rem), 1200px);
    margin: 2rem auto;
}
.plus{
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #0005;
    margin: 2rem auto;
    max-width: max-content;
    
}

details {
    border: 1px solid #ddd;
    padding: 0.75rem 2rem;
    background-color: #fff;
    transition: 0.25s ease;
}

details:first-child {
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

details:last-child {
    border-top: none;
    border-radius:0 0 5px 5px;
}
summary {
    font-weight: bold;
    margin:0;
    padding: 0.5em;
    color: var(--blue);
}

details[open] {
    padding: 0.75rem 2rem;
    margin: 5px auto;
    border: solid 1px #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px -5px #0005;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em; }


@media(width < 760px){
    .content .fcp{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .content .fcp h1{
        grid-column: 1/2;
    }


    .grid {
        grid-template-columns: 1fr;
    }

    .new{
        grid-template-columns: 1fr;
    }

    .new .content-img{
        width: calc(100% + 4rem);
        max-height: 30vh;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1.5rem), 49% 100%, 0 calc(100% - 1.5rem));
    }
    .new img{
        grid-row: 1/2;
        /* margin: -1rem -2rem; */
        width: 100%;
    }
    
    .new .title {
        padding-top:1rem;
    }

    .new .title .date{
        margin-top: -2.5rem;
        backdrop-filter: blur(5px);
        padding: 0.25rem .75rem;
        margin-right: -1rem;
        background-color: #fff8;
        font-weight: 500;
        border-radius: 4px;
    }

        .new img {clip-path: none;}

        .content{
            padding:1.75rem 1rem;
        }
        .table{
            margin: 0;
            padding: 0;
            width: 100%;
        }

}

/*Animaciones*/
.new{
    animation: rullete linear;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

@keyframes rullete{
    0%{
        transform: scale(0.75);
        opacity: 0.75;
    }
    25%{
        transform: scale(1);
        opacity: 1;
    }
    70%{
        transform: scale(1);
        opacity: 1;
    }
    100%{ 
        transform: scale(0.75);
        opacity: 0.75;
    }
}