:root {
    --blue: #1a3a5f;
    --yellow: #ffcd00;
    --gray: #eee;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: scroll 0.3s ease;
}

body::-webkit-scrollbar {
    display: none;
}


* {
    box-sizing: border-box;
    font-family: "Archivo", sans;
    line-height: 1.25;
}

a {
    color: inherit;
    text-decoration: none;
}
/* 
header {
    background-color: var(--blue);
    padding: 1rem;
    font-size: 18px;
    color: var(--yellow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;

}*/

.iso {
    background-image: url(https://martinezk97.github.io/miabogado/assets/img/logo.svg);
}

.color-yellow{
    color: var(--yellow);
}


#fixed-wpp-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    max-width: max-content;
    display: grid;
    grid-template-columns:max-content 5rem;
    z-index: 9;
    border-radius: 150px;
    filter:drop-shadow(-1px -1px 1px #fff) drop-shadow(0px 5px 10px #0009) ;
    transition: 0.3s ease;
}

#fixed-wpp-btn:hover {
    transform: scale(1.015);
}

#fixed-wpp-btn:hover span,
#fixed-wpp-btn:hover i
{
    background-color:#075e54;
    color: #ece5dd;
}

#fixed-wpp-btn span{
    color: #1c4602;
    padding: 1rem 1rem 1rem 2rem;
    text-align: center;
    font-size: 1rem;
    background-color: #25d366;
    max-height: min-content;
    align-self: center;
    margin: 0;
    display: block;
    border-radius: 150px 0 0 150px;
    font-weight: 600;
    margin-right: -1rem;
    transition: 0.3s ease;
}

#fixed-wpp-btn i {
    background-color: #25d366;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    display: block;
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 150px;
    transition: 0.3s ease;
    color: #1c4602;
}



/* Portada */
.portada {
    /* border: solid 1px red; */
    z-index: 2;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url(https://martinezk97.github.io/miabogado/assets/img/portada.webp);
    background-size: cover;
    background-position: 50%;
    display: grid;
    align-content: center;
    padding: 5rem 2rem 0;
    /* padding: 5rem 2rem 0 23.5rem; */
    position: relative;
    background-attachment: fixed;
    /* border: solid 2px cyan; */
}

.laboral-montevideo .portada{
    background-image: url(https://martinezk97.github.io/miabogado/assets/img/mtss.webp);
}


.portada:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.661);
}

.portada .tag {
    backdrop-filter: blur(5px);
    color: #fff;
    padding: 0.75rem 2rem;
    border-radius: 10px;
    max-width: max-content;
    box-shadow: 1px 1px 8px -1px #000, -1px -1px 10px -3px #fff;
    font-size: clamp(0.9rem, 1.5vw, 1.5rem);
    background-color: #0002;
}

.portada h1 {
    font-size: clamp(1.75rem, 2.75vw, 4rem);
    margin: 0;
    margin-top: 1rem;
}

.portada h1 .blur {
    /* border: solid 1px; */
    display: block;
    line-height: 1.5;
    border-top: solid 1px #fff2;
    padding: 0.5rem 0;
    margin-top: 1rem;
    /* border-radius: 10px; */
    /* width: max-content; */
    width: 100%;
    max-width: 100%;
    box-shadow: 100%;
    display: block;

    width: max-content;
    /* backdrop-filter: blur(10px); */
    font-size: 75%;
    /* margin: 2rem 0 0; */
    display: block;
    color: #eee;

}

.portada h1,
.portada p {
    color: #fff;
    line-height: 1.5;
}

.portada p {
    font-size: clamp(1rem, 1.25vw, 1.75rem);
    margin: 0;
    pad: 0;
    width: 100%;
    max-width: max-content;
    margin-top: 1.25rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* border: solid 1px #fff; */
    width: 100%;
}

.services {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-gap: 0rem;
    max-width: max-content;
    margin-top: 1.5rem;
}

.services span {
    display: inline-block;
    padding: 0.125rem 1.25rem;
    font-size: clamp(0.9rem, 1.25vw, 1.45rem);
    border-radius: 0px;
    font-weight: 600;
    border-left: solid 1px;
    color: #fff;
    color: var(--yellow);
}

.services span:last-child {
    border-right: solid 1px;
}


.portada .cta {
    background-color: var(--yellow);
    color: #453b00;
    font-size:clamp(1rem, 1.75vw, 1.5rem);
    padding: 0.75rem 2rem;
    border-radius: 10px;
    /* color: var(--yellow); */
    max-width: max-content;
    border: solid 1px;
    margin-top: 2rem;
    font-weight: 600;
    display: grid;
    grid-template-columns:min-content max-content;
    align-content: center;
    grid-gap: 0.75rem;
    place-items: center;
    place-content: center ;
}

.color-green {
    color: green;
}




.benefits {
    /* border: solid 1px red; */
    padding: 0;
    max-height: min-content;
    z-index: 1;
    display: grid;
    grid-gap: 0.5rem;
}

.benefits p,
.benefits h3,
.benefits h4{
    margin: 0;
    padding: 0;
    display:grid;
    grid-template-columns: min-content auto;
    align-content: center ;
    grid-gap: 0.5rem;
    font-weight: 400;
    font-size: 1rem;
    align-content: center;
}

.benefits  i.icon-check {
    color: green;
    margin-right: 0.5rem;
    align-self: center;
}

.content-all-services {
    background-color: var(--gray);
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 2rem 2rem 5rem;
    max-width: max-content;
    margin: 0 auto !important;
    max-width: 1200px;
    /* border: solid 1px; */
}

.content-all-services>h2 {
    grid-column: 1/3;
    text-align: center;
    max-width: 800px;

}

.content-all-services > p{
    grid-column: 1/3;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

.content-all-services>div {
    display: grid;
    align-content: center;
    padding: 1rem 3rem;
    border: solid 1px #0001;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 15px -5px #0005;
    /* border: solid; */
    padding-top: 3rem;
    overflow: hidden;
}

.content-all-services .title-service {
    font-weight: 600;
    font-size: 1.25rem;
}


.conocemas {
    padding: 0.75rem 2rem;
    border-radius: 10px;
    max-width: max-content;
    margin: 1rem auto;
    color: var(--yellow);
}

.content-service {
    position: relative;
    height: 100%;
    width: 100%;
    transition: 0.3s ease;
}

.content-service:hover{
    transform:scale(1.015);
    z-index: 2;
    box-shadow: 0 0 15px -5px #000;
}

.content-service:nth-child(1){transform-origin: 0 0;}
.content-service.two{ transform-origin: 0 100%;}
.content-service.three{ transform-origin:100% 0;}
.content-service.fourt{ transform-origin: 0 0;}

.service-header {
    background-color: var(--blue);
    color: var(--yellow);
    padding: 1rem;
    width: 100%;
    font-size: 1.75rem;
    text-align: center;
    display: grid;
    grid-template-columns: auto max-content;
    /* border: solid 1px red; */
    position: absolute;
    top: 0;
}

.service-icon {
    position: absolute;
    /* border: solid 1px #000; */
    height: max-content;
    color: #eee;
    font-size: 12rem;
    display: grid;
    place-items: center;
    align-content: center;
    text-align: center;
    z-index: 0;
    inset: 0;
    margin: auto auto;
}

.service-header h3 {
    /* border: solid 1px red; */
    text-align: left;
    margin: 0;
    color: #fff;
    font-size: 1.25rem;
    padding: 0 1.8rem;
}



.content-service p,
.content-service a {
    z-index: 2;
}

.content-service>p {
    line-height: 1.75;
    margin-top: 3rem;
}

.content-service a {
    background-color: var(--yellow);
    color: var(--blue);
    font-weight: 600;
    margin: 2rem 0 auto auto;

}







.sdf {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(https://martinezk97.github.io/miabogado/assets/img/background/fder.webp);
    background-attachment: fixed;
    background-size: 100% auto;
    background-position: 0 50%;
    padding: 3rem 3rem 7rem;
    position: relative;
    display: grid;
    place-content: center;
}

.sdf:before {
    content: "";
    position: absolute;
    inset: 0;
    background: #0009;
}

.sdf .container{
    width: clamp(200px, calc(100vw - 2rem), 1200px);
    padding: 2rem;
    text-align: center;
}

.sdf p {
    font-size: clamp(3rem, 4vw, 5rem);
    color: #fff;
    z-index: 1;
    position: relative;
    border-radius: 20px;
    filter: drop-shadow(2px 4px 6px #0008);
    font-weight: 600;
}


.sdf .statistics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    max-width: max-content;
}

.sdf .statistics article {
    backdrop-filter: blur(10px);
    background-color: #fff1;
    display: block;
    padding: 2rem;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    max-width: max-content;
    box-shadow: 0 0 12px #0007;
    background-image: linear-gradient(to bottom right, #fff2, #0002, #fff2);
}

.sdf div article .num {
    display: block;
    font-size: clamp(1.75rem, 3vw, 4rem);
    color: var(--yellow);
}

.sdf div article span:not(.num) {
    font-size: clamp(1rem 1.5vw, 1.75rem);
    font-weight: 600;
}







.max-size {
    max-width: 1200px;
    margin: auto auto;
}







.knowSimulators{
    background-image: url(https://martinezk97.github.io/miabogado/assets/img/background/calculos_desktop.webp);
    
    background-attachment: fixed;
    background-size:100% auto !important;

    min-height: 100vh;
    display: grid;
    align-content: center;
    position: relative;
}

.knowSimulators:after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: #0008;
    z-index: 0;
}

.knowSimulators .container{
    border: solid 1px #fff3;
    padding: 3rem;
    width: clamp(200px, calc(100vw - 2rem), 1200px);
    backdrop-filter: blur(10px);
    margin: 2rem auto ;
    max-height: max-content;
    /* background-image: linear-gradient(to bottom right, #0004, #0001, #0004); */
    background-color: #0002;
    border-radius: 15px;
    box-shadow: 0 0 15px -5px #000;
    position: relative;
    z-index: 1;
}


.knowSimulators h2{
    color: var(--yellow);
    font-size: clamp(2rem, 2.5vw, 2.75rem);
    position: relative;
}

.knowSimulators p{
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    line-height: 1.75;
    color: #fff;
}

.knowSimulators div {
    font-size: clamp(1.1rem, 1.25vw, 1.25rem);
    color: #fff;
}

.knowSimulators a {
    background:var(--yellow);
    color: var(--blue);
    display: grid;
    grid-template-columns: min-content auto;
    place-items: center;
    grid-gap:1rem;
    padding: 1rem 1.75rem;
    border-radius: 10px;
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    max-width: max-content;
    margin:2rem  0 0 ;
    font-weight: 600;



}

.blog-section{
    min-height: 100vh;
    background-image: url(https://martinezk97.github.io/miabogado/assets/img/background/technology.webp);
    background-size: 100% auto;
    display: grid;
    align-content: center;
    position: relative;
    background-attachment: fixed;
}

.blog-section:after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #00000030;
    z-index: 0;
}

.blog-section .container{
    width: clamp(200px, calc(100vw - 2rem), 1200px);
    background: #0003;
    backdrop-filter: blur(25px);
    padding: 2rem 3rem;
    border-radius: 15px;
    border: solid 1px #fff2;
    box-shadow:inset 2px 2px 30px -4px #fff6,inset -2px -2px 20px  #0006, 2px 2px 10px #000;
    position: relative;
    z-index: 1;
    margin: 2rem auto;
}
.blog-section .container h2{
    color: var(--yellow);
    font-size: clamp(2rem, 2.5vw, 2.75rem);
    text-align: center;
}
.blog-section .container h2 + span {
    color: var(--yellow);
    font-size: clamp(1.25rem, 1.7vw, 2rem);
    text-align: center;
}
.blog-section p {
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    color: #fff;
    line-height: 1.75;
}
.blog-section .benefits {
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    place-content: center;
    width: max-content;
    margin: 2rem 0;
}

.blog-section .benefits h3{
    color: #fff;
    font-size: clamp(1.1rem, 1.2vw, 1.2rem);
    
}


.blog-section .container .cta{
    background: var(--yellow);
    color: var(--blue);
    display: block;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: clamp(1rem, 1.25vw, 1.25rem);
    max-width: max-content;
    margin: 2rem 0 0;
    font-weight: 500;
    max-width: max-content;
}


.content-process {
    box-shadow: -1px 0 10px;
    position: relative;
    border-radius: 30px 30px 0 0;
    margin-top: -50px;
    background-color: #eee;
    padding-bottom: 4rem;
    min-height: 100vh;
}


.content-process .btn {
    background: var(--yellow);
    color: var(--blue);
    display: block;
    max-width: 100%;
    border-radius: 10px;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 2rem;
    height: min-content;
    padding: 0;
    grid-gap: 1rem;
    max-width: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: 2rem auto;
    padding: 0.75rem 2rem;
    place-items: center;
    margin-bottom: 2rem;
    max-width: max-content;
    margin: 0 auto;
}

.content-process .btn i {
    color: inherit;
}


.title-section {
    font-size: clamp(2rem, 2vw, 3rem);
    max-width: max-content;
    margin: 0 auto;
    padding: 3rem 0;
    position: relative;
    color: var(--blue);
}

.title-section:after {
    content: "";
    width: 60%;
    height: 5px;
    display: block;
    position: absolute;
    margin-top: 1rem;
    max-width: 150px;
    margin: auto auto;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--yellow);
}

.section-title p {
    color: #666;
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto;
}


/*** STEPS ***/
.content-steps {
    /* border-left: solid 2px #fff; */
    margin: 2rem auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 2rem;
}



.step {
    position: relative;
    border-radius: 10px;
    /* margin: 0.5rem auto; */
    overflow: hidden;
    width: calc(100% - 1.5rem);
    margin: 1rem auto 0.5rem;
    transition: .3s ease-in-out;
    min-height: max-content;
    display: grid;
    height: 100%;
    align-content: baseline;
    overflow: visible;
    transform-origin: -1.5rem -2rem;
}
.step:before {
    content: "";
    position: absolute;
    width: calc(100% + 3rem);
    height: 3px;
    background-color: var(--yellow);
    right: calc(-50% - 2rem);
    top: 0.825rem;
    /* border: solid 1px var(--blue); */
    /* box-shadow: 0 0 7px var(--blue); */
}

.step:after {
    content: "1";
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    text-align: center;
    background-color: var(--yellow);
    font-size: 1rem;
    font-weight: 700;
    color: var(--blue);
    display: grid;
    place-items: center;
    left: calc(50% - 1rem);
    top: 0;

    /* box-shadow: 0 0 7px var(--blue); */
    border: solid 1px var(--yellow);
}
.step:hover{
    transform: scale(1.05);
    filter: drop-shadow(0px 1px 10px #0005);
}

.step i {
    color: rgba(255, 230, 0, 0.174);
    position: absolute;
    font-size: clamp(4rem, 8vw, 7rem);
    z-index: 0;
    margin: auto 0 auto auto;
    right: 0;
    left: 0;
    margin: auto auto;
    max-width: min-content;
    bottom: 1rem;
    z-index: -1;
}

.step h3,
.step p {
    z-index: 1;
    position: relative;
}

.step h3 {
    margin: 0;
    padding: 0;
    position: relative;
    line-height: 1;
    padding: 0;
    max-width: 0;
    display: grid;
    /* grid-template-columns: 2rem max-content; */
    color: var(--yellow);
    background-color: var(--blue);
    min-width: calc(100%);
    padding: 1rem 2rem;
    clip-path: polygon(0 1rem, calc(50% - 1rem) 1rem, 50% 0%, calc(50% + 1rem) 1rem, 100% 1rem, 100% 100%, 0 100%);
    padding-top: 2rem;
    margin-top: 2.25rem;
    text-align: center;
    height:5rem;
    align-content: center;
}


.step h3:after,
.step h3:before 
 {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 1rem;
    
}

.step h3:after{
    background: radial-gradient(
        circle at 100% 100%,
        var(--blue) 72.5%,
        var(--gray) 72.5%);
}

.step h3:before {
    right: 0;
    background: radial-gradient(
        circle at 0% 100%,
        var(--blue) 72.5%,
        var(--gray) 50%);
}

.step h3>* {
    color: var(--blue);
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: block;
}

.step p {
    padding: 1.75rem 1.25rem;
    min-height: 140px;
    padding-top: 2rem;
    margin-top: 0rem;
    text-align: justify;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 5px #0002;
    height: 100%;
}

.step:nth-child(2):after {
    content: "2";
}

.step:nth-child(3):after {
    content: "3";
}

.step:nth-child(4):after {
    content: "4";
}

.step:nth-child(4):before {
    background: transparent;
    box-shadow: none;
}

.testimonios {
    /* border-radius: 50px 50px 0 0; */
    padding: 2rem;
    background-color: var(--blue);
    padding-bottom: 5rem;
    box-shadow: 0 -30px 25px -25px #000;
        position: relative;
        z-index: 1;
}

.testimonios .title-section {
    color: #fff;
}


.testimonios>p {
    font-size: 1.25rem;
    text-align: center;
    color: #fff;
    margin: 2rem auto 3rem;
}

.comments {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 1rem;

}

.comments::-webkit-scrollbar {
    background-color: #fff2;
    border-radius: 15px;
    margin-top: 1.5rem;
    height: 10px;
}

.comments::-webkit-scrollbar-thumb {
    background-color: #fff2;
    border-radius: 10px;
}

.comments::-webkit-scrollbar-thumb:hover {
    background-color: #fff5;
}

.comment {
    background-color: #fff;
    min-width: 300px;
    border-radius: 15px;
    padding: 2rem;
    color: #000;
    /* border-left: solid 5px var(--yellow); */
    display: grid;
    grid-template-rows: 3rem auto 2rem;
    align-content: space-between;
}

.comment .person{
    /* border: solid 1px red; */
    display: grid;
    grid-template-columns: clamp(60px, 4rem, 200px) auto;
    width: 100%;
    align-content: center;
}

.comment .person .content-img{
    width: 3rem;
    height: 3rem;
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 50%;
    overflow: hidden;
}

.comment .person .content-img img {
    width: 100%;
}

.starts{
    color: var(--yellow);
    font-size: 1.3rem;
    text-shadow:0 0 5px #0002;
}

.comment .person {
    font-weight: 500;
    font-size: 1.05rem;
}

.comment p{
    margin: 1rem 0 0.5rem;
}
    .comment .publicated {
    color: #4f4f4f;
    font-size: 0.9rem;
    display: block;
    margin-top:0.5rem ;
        font-weight: 500;
}

.comment .location {
    color: #444;
    font-weight: 600;
    color:#444;
    display: block;
    margin: 0.5rem 0 0;
}

.comment .location:before{
    content:"\e91b";
    font-weight: 400;
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 0.4rem;
    font-size: 0.8rem;
    color: #aaa;
}


@media (width < 760px) {
    .container {
        max-width: calc(100vw - 2rem);
        padding: 0;
    }

    .services {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-gap: 0.5rem 1rem !important;
    }

    .services span {
        padding: 0;
        margin-top: 0.25rem;
        border: none !important;
        display: block;
        min-width: max-content;
    }

    .content-all-services {
        grid-template-columns: repeat(1, 1fr);
    }

    .content-all-services h2, .content-all-services > p {
        grid-column: 1/2;
    }

    .content-steps {
        grid-template-columns: 1fr;
    }
    .sdf {
        background-size: auto 125%;
    }

    .sdf .container {
        width: clamp(200px, calc(100vw - 2rem), 1200px);
        padding: 0;
    }

    .sdf .statistics {
        grid-template-columns: repeat(2, 1fr);
    }

    .sdf .statistics article:nth-child(3) {
        grid-column: 1/3;
        min-width: 100%;
    }

    .sdf p {
        padding: 0rem;
    }

    .content-steps .step {
        border-radius: 20px;
    }

    /*** STEPS ***/
    .content-steps {
        /* border-left: solid 2px #fff; */
        margin: 0 auto;
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        padding: 2rem;
    }



    .step {
        /* border: solid 1px red; */
        position: relative;
        border-radius: 10px;
        /* background-color: #fff; */
        margin-top: 10px;
        margin: 0.5rem auto;
        overflow: hidden;
        position: relative;
        overflow: visible;
        width: calc(100% - 1.5rem);
        /* clip-path: polygon(1.5rem 0, 100% 0, 100% 100%, 1.5rem 100%, 0 50%); */
        margin-top: 1rem;
            filter: none !important;
    }

        .step :hover{
            transform: scale(1.01);
        }


    .step i {
        color: #fff;
        position: absolute;
        font-size: clamp(5rem, 10vw, 10rem);
        z-index: 0;
        margin: auto 0 auto auto;
        right: 0;
        bottom: 0;

    }

    .step h3,
    .step p {
        z-index: 1;
        position: relative;
    }


    .step:before {
        content: "";
        position: absolute;
        width: 3px;
        height: calc(100% + 1rem);
        background-color: var(--yellow);
        left: -1.5rem;
        top: 1rem;
        /* border: solid 1px var(--blue); */
        /* box-shadow: 0 0 7px var(--blue); */
    }

    .step:after {
        content: "1";
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        text-align: center;
        background-color: var(--yellow);
        font-size: 0.9rem;
        font-weight: 700;
        color: var(--blue);
        display: grid;
        place-items: center;
        left: -2.15rem;
        top: 0;
        bottom: 0;
        margin: 0.75rem auto;
        /* box-shadow: 0 0 7px var(--blue); */
        border: solid 1px var(--yellow);
    }

    .step:nth-child(1) {
        border-radius: 25px 25px 0 25px;
        margin: 0 0 auto auto;
    }

    .step:nth-child(2) {
        border-radius: 25px 25px 25px 0;
        margin: 0 0 auto auto;
    }

    .step:nth-child(3) {
        border-radius: 25px 0 25px 25px;
        margin: 0 0 auto auto;
    }

    .step:nth-child(4) {
        border-radius: 0 25px 25px 25px;
        margin: 0 0 auto auto;
    }

    .step:nth-child(2):after {
        content: "2";
    }

    .step:nth-child(3):after {
        content: "3";
    }

    .step:nth-child(4):after {
        content: "4";
    }

    .step:nth-child(4):before {
        background: transparent;
        box-shadow: none;
    }

    .step h3 {
        margin: 0;
        padding: 0;
        position: relative;
        line-height: 1;
        padding: 0;
        max-width: 0;
        display: grid;
        /* grid-template-columns: 2rem max-content; */
        background-color: var(--blue);
        color: var(--yellow);
        min-width: calc(100%);
        padding: 1rem 2rem;
        clip-path: polygon(1.5rem 0, 100% 0, 100% 100%, 1.5rem 100%, 0 50%);
        border-radius: 10px;
        height: 3rem;
    }

    .step h3>* {
        color: var(--blue);
        margin: 0;
        padding: 0;
        background-color: transparent;
        display: block;
    }

    .step p {
        padding: 0 2rem;
        background-color: transparent;
        padding-top: 2rem;
        min-height: 100px;
    }

    .knowSimulators {
        background-image: url(https://martinezk97.github.io/miabogado/assets/img/background/calculos-mobile.webp);
        background-attachment: fixed;
        background-size: 100% auto !important;
    }


    .knowSimulators .container{
        padding: 2rem;
    }

    .blog-section .container{
        padding: 1.25rem;
    }

        .blog-section .container .cta {
            margin: 2rem auto 0;
        }

    /* Eliminar "en que podemos ayudarte" de la vista */
        #fixed-wpp-btn:after {
            content: "";
            position: absolute;
            inset: -1.25rem;
            border-radius: 100px;
            animation: wpp infinite 4s ease;
            z-index: -1;
        }

        #fixed-wpp-btn{
            grid-template-columns: 1fr;
        }
                #fixed-wpp-btn span {
                    display: none;
                }


}