:root {
    --primary: #0B3C5D;
    --secondary: #C2571A;
    --terciary: #D9B310;
}

.box {
    background-color: #0002;
}

header {
    height: 4rem;
    width: 100vw;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}