:root {
    --blue: #1a3a5f;
    --yellow: #ffcd00;
    --gray: #eee;
    --green: #327b02;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}


* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.75;
}

a {
    color: inherit;
    text-decoration: none;
}

.color-green{
    color: var(--green);
}

.portada{
    width: 100vw;
    min-height: calc(100vh - 5rem);
    background-image: url(http://miabogado.uy/assets/img/background/portada-servicios-desktop.webp);
    background-size: 120% auto;
    background-position: 0% 30%;
    margin-top: 5rem;
    padding: 2rem;
    display: grid;
    align-content: center;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
}
.portada:after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: #1a3a5f90;
}

.portada.laboral {
    background-image: url(http://miabogado.uy/assets/img/background/laboral-section-desktop.jpg);
}
.portada .container{
    width: clamp(200px, calc(100% - 2rem), 1200px);
    margin: auto;
    border-radius: 20px;
    padding: 2rem 3rem;
    position: relative;
    z-index: 1;
}

.portada .container h1{
    font-size: clamp(2rem, 3vw, 4rem);
    color: #fff;
    text-shadow: 0 0 10px #0009;
}
.portada .container p {
    font-size: clamp(1.5rem, 2.25vw, 2.25rem);
    color: #fff;
    text-shadow: 0 0 10px #0009;
    font-weight: 600;
}

.portada .benefits{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    
}

.portada .benefits > *{
    color: var(--yellow);
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    border-left: solid 1px;
    padding: 0.25rem 1rem;
    font-weight: 600;
}

.portada .cta{
    background: var(--yellow);
    color: var(--blue);
    font-weight: 600;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    padding: 0.75rem 2rem;
    border-radius: 10px;
    display: block;
    max-width: max-content;
    margin: 2rem 0 0;
}

.portada{
    animation: portada_parallax linear;
    animation-timeline: view();
    animation-range: entry 0% cover 100%;
}

.area-derecho:nth-child(odd){
    background-color: var(--blue);
}
.area-derecho.normal {
    background-color: #eee !important;
}

.area-derecho .container{
    width: clamp(200px, calc(100vw - 2rem), 1200px);
    margin: 0 auto;
    padding: 2rem;
}

.area-derecho h2{
    color: var(--blue);
    font-size: clamp(2rem, 4vw, 2.5rem);
    text-align: center;
    margin: 3rem auto 0;
    padding-bottom: 2rem;
    width: max-content;

    position: relative;
}


.area-derecho h2:after {
    content: "";
    position: absolute;
    width: 75%;
    height: 4px;
    background-color: var(--yellow);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.container .cat h3 {
    color: var(--blue);
    font-size: clamp(1.75rem, 4vw, 3rem);
    text-align: center;
    margin-bottom: 2rem;
}

.container .cat {
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.container .cat .content-services {
    display: flex;
    grid-gap: 1rem;
    overflow-x: scroll;
}

.container .cat .content-services::-webkit-scrollbar{
        background-color: #0001;
    border-radius: 15px;
}
.container .cat .content-services::-webkit-scrollbar-thumb{
    background-color: #0001;
    border-radius: 15px;
}

.container .cat .content-services::-webkit-scrollbar-thumb:hover {
    background-color: #1a3a5f30;
    border-radius: 15px;
}

.container .cat .content-services article,
.container .cat .content-services div{
    background-color: var(--blue);
    display: grid;
    align-content: space-evenly;
    box-shadow: 0 0 10px -5px #0007;
    border-radius: 10px 10px 3rem 10px;
    padding: 2rem;
    overflow: hidden;
    align-content: center;
    align-self: center;
    flex: auto;
    min-width: calc((100% - 2rem) / 3);
    margin-bottom: 1rem;
    align-self: self-start;
    position: relative;
    grid-template-rows:4rem auto;
    grid-gap: 1rem;
}

.area-derecho.normal .container .cat .content-services article,
.area-derecho.normal .container .cat .content-services div {
background-color: #fff ;
}
.container .cat .content-services a{
    background-color: var(--yellow);
    color: var(--blue);
        display: grid;
        align-content: space-evenly;
        box-shadow: 0 0 10px -5px #0007;
        border-radius: 10px;
        padding: 2rem;
        overflow: hidden;
        align-content: center;
        align-self: center;
        flex: auto;
        min-width: calc((100% - 2rem) / 3);
        margin-bottom: 1rem;
        align-self: self-start;
        position: relative;
        grid-auto-rows: max-content;
        grid-gap: 1rem;
}
.container .cat .content-services a i{
    font-size: clamp(7rem, 10vw, 8rem);
    display: block;
    text-align: center;
}
.container .cat .content-services a span{
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}

.container .cat .content-services article .tag,
    .container .cat .content-services div .tag{
    position: absolute;
    width: 3rem;
    height: 3rem;
    display: block;
    right: 0;
    bottom:0;
    overflow: hidden;
    background-color: #0003;
}

.container .cat .content-services article .tag:after,
.container .cat .content-services article .tag:before{
    content: "";
    position: absolute;
    /* inset: 0; */
    background-color: var(--blue);
    border-radius: 50%;
}

.container .cat .content-services article .tag:before{
    width: 100%;
    height: 100%;
    left: -50%;
}

.container .cat .content-services article .tag:after {
    width: 100%;
    height: 100%;
    top: -50%;
}


.container .cat .content-services article h4{
    color: var(--yellow);
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.25rem;
    /* border: solid 1px red; */
    width: 100%;
    margin: 0;
    padding: 0;
    align-self: center;
}

.container .cat .content-services article p{
    padding: 0 1rem 1rem;
    margin-top:0;
    color: #fff;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.cta-area{
    background-color: #fff;
    padding: 2px;
    text-align: center;
    box-shadow: 0 0 10px #0005;
    margin: 2rem auto;
    padding: 2rem;
}
.cta-area .benefit-highlight{
    display: grid;
    font-size: 1.2rem;
    font-weight: 500;
    grid-gap: 0.5rem;
}



.area-derecho:nth-child(odd) .container .cat h3 {
    color: var(--yellow);
}

.area-derecho:nth-child(odd) .container .cat .content-services article,
.area-derecho:nth-child(odd) .container .cat .content-services div{
    background-color: #fff;
}

.area-derecho:nth-child(odd) .container .cat .content-services h4 {
    color: var(--blue);
}

.area-derecho:nth-child(odd) .container .cat .content-services p {
    color: #000;
}

.area-derecho:nth-child(odd) .container .cat .content-services article .tag:after,
.area-derecho:nth-child(odd) .container .cat .content-services article .tag:before {
    content: "";
    position: absolute;
    /* inset: 0; */
    background-color: #fff;
    border-radius: 50%;
}
.area-derecho:nth-child(odd) .cta-area{
    background-color: #fff2;
}

.area-derecho:nth-child(odd) .cta-area p
{
    color: #fff;
}

.cta-button{
    background-color: var(--yellow);
    color: var(--blue);
    font-size: 1.1rem;
    padding: 1rem 2.5rem;
    border-radius: 10px;
    margin:2rem auto 1rem;
    font-weight: 600;
    display: block;
    max-width: max-content;
    display: grid;
    grid-template-columns: max-content max-content ;
    grid-gap: 1rem;
    align-items: center;
}

.area-derecho.normal .container .cat .content-services article h4,
.area-derecho.normal .container .cat .content-services div h4{
    color: var(--blue);
}

.area-derecho.normal .container .cat .content-services article p,
.area-derecho.normal .container .cat .content-services div p {
    color: #000;
}


.area-derecho.normal .container .cat .content-services article .tag:after,
.area-derecho.normal .container .cat .content-services article .tag:before {
    background-color: #fff;
}
@keyframes portada_parallax {
    from{
        background-position: 0% 0%;
    }
    to {
        background-position: 0% 30%;
    }
}



.content-all {
    margin-top: 6rem;
}

.content-all .container {
    width: clamp(200px, calc(100vw - 2rem), 1200px);
    margin: 2rem auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #0005;
    padding: 2rem 8rem;

}

.content-all .container h1 {
    font-size: clamp(2rem, 4vw, 2.75rem);
    color: var(--blue);
}

.content-all .container h2 {
    font-size: clamp(1.25rem, 3vw, 1.75rem);
    color: var(--blue);
    margin-top: 3rem;
}

.image {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    place-items: center;
    max-width: min-content;
    filter: drop-shadow(0 0 15px #0004);
}

.image article {
    display: grid;
    align-content: space-around;
}

.image article i {
    font-size: clamp(2rem, 3vw, 3rem);
    color: var(--blue);
    background-color: var(--yellow);
    margin: 5px;
    width: clamp(7rem, 7vw, 8rem);
    height: clamp(6rem, 6vw, 7rem);
    align-self: center;
    display: grid;
    place-items: center;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transition: 0.3s ease;
    transform-origin: 50% 50%;
}

.image article i:hover {
    transform: scale(1.05);
}

.image article:nth-child(2) {
    margin-left: -2rem;
}

.image article:nth-child(3) {
    margin-left: -2rem;
}

.image article:nth-child(3) i {
    font-size: clamp(6rem, 7vw, 7rem);
    width: clamp(8rem, 12vw, 11rem);
    height: clamp(7rem, 10vw, 10rem);
    background-color: var(--blue);
    color: var(--yellow);
}


.cta-area {
    padding: 3rem 2rem 1rem 2rem;
    box-shadow: 0 0 10px #0005;
    margin: 2rem auto;
    text-align: center;
    clip-path: polygon(0 2rem, calc(50% - 2rem) 2rem, 50% 0, calc(50% + 2rem) 2rem, 100% 2rem, 100% 100%, 0 100%);
    background-color: var(--blue);
    color: #fff;
}

.cta-area .cta {
    background-color: var(--yellow);
    color: var(--blue);
    display: grid;
    max-width: max-content;
    margin: 1rem auto;
    font-weight: 600;
    grid-template-columns: max-content max-content;
    grid-gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    align-content: center;
    align-items: center;
}


.container .statistics{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 2rem auto;
}

.container .statistics article{
    padding: 2rem clamp(1rem, 3vw, 3rem);
    background-color: var(--blue);
    border-radius: 10px;
}

.container .statistics article p{
    font-size: clamp(1.15rem, 4vw, 3rem);
    font-weight: 600;
    text-align: center;
    color: var(--yellow);
}

.container .statistics article span {
    color: #fff;
    display: block;
    text-align: center;
    font-size: clamp(0.9rem, 2vw, 1.25rem);
}
.similars{
    width: clamp(200px, calc(100vw - 2rem), 1200px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #0005;
    padding: 3rem 2rem;
    grid-gap: 1rem;
}

.similars h3{
    color: var(--blue);
    text-align: center;
    grid-column: 1/4;
    font-size: 2rem;
}

.similars a {
    background-color: var(--blue);
    color: var(--yellow);
    font-weight: 600;
    display: block;
    max-width: max-content;
    margin: 1rem auto;
    padding: 1rem clamp(1rem, 6vw, 3rem);
    border-radius: 10px;
    font-size: clamp(1rem, 4vw, 1.5rem);
    display: grid;
    grid-template-columns: max-content max-content;
    place-content: center;
    grid-gap: 10px;
}

@media(width < 760px){ 
    *::-webkit-scrollbar{
        display: none;
    }
    .portada{
        padding: 0;
        background-image: url(http://miabogado.uy/assets/img/background/portada-servicios-mobile.webp);
        background-size: auto 130%;
        background-position: 0% 30%;
    }
    
    .portada .container {
        padding: 0 1rem;
        max-width: calc(100vw - 2rem);
    }
    .portada .container .benefits{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .portada .container .benefits > *{
        border: none;
        padding: 0;
    }
    .container .cat, .area-derecho .container {
        padding:1rem 0;
    }
    .container .cat .content-services {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .container .cat .content-services article,
    .container .cat .content-services div ,
        .container .cat .content-services a 
    {
        min-width: 280px;
    }

    .content-all .container{
        padding: 2rem 1rem;
    }

    .content-all .container .cta-area{
        padding: 3rem 1rem 1rem 1rem;
    }

    .content-all .container .cta-area .cta {
        padding: 1rem;
    }

    .similars{
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
    }

    .similars h3{
        grid-column: 1/2;
    }

    .similars a{
        min-width: 100%;
    }

}


